# Игнорировать файлы резервных копий Visual Studio Code
.vscode/

# Игнорировать файлы настроек решения Visual Studio
*.sln.cache
*.suo
*.user
*.userosscache
*.sln.docstates

# Игнорировать файлы временных данных
[Tt]emp/
[Vv]isual[Ss]tudio[Dd]ata/

# Игнорировать файлы настроек Resharper
*.resharper
*.resharper.user

# Игнорировать файлы и папки сборки .NET Core
bin/
obj/

# Игнорировать папку пакетов NuGet
packages/

# Игнорировать файлы отладки
*.pdb

# Игнорировать файлы с кэшем или локализации
*.cache
*.log
*.localized

# Игнорировать временные файлы
*.log
*.logs
*.bak
*.lock
*.tmp

# Игнорировать файлы локализации
*.pot
*.po
*.mo

# Игнорировать файлы отчётов о покрытии кода
*.coverage
*.coveragexml
*.dotCover
*.opencover

# Игнорировать файлы профилирования
*.vsp
*.vspx
*.sap
*.ipch

# Игнорировать файлы публикации
*.pubxml
*.publishsettings
node_modules/
